* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wrapper { /*font*/
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  }
  
  .topbar-container{
      color: black;
      background-color: darkcyan;
      padding: 15px;
      display: flex;
      justify-content: center; 

  }

  .topbar{
    width: 900px;
    color:black;
    display: flex;
    justify-content: flex-start;
    /*text-align: left;*/
    /*margin-left: 0px;*/ 
  }

  .menu-container { /*first overall div class*/
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center; 
  }
  
  .menu { /*three set*/
    border: 1px solid #fff;  /* For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .links{
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }

  .main-page{
    margin-left: 20px;
  }
  
  .header-container { /*awesome logo*/
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .carousel{
      overflow: hiden;
      max-width: 600px;
      position: relative;
      top: 50%;
      left: 30%;
  }

  .carousel .carousel_item,
  .carousel .carousel_item--hidden{
      display: none;

  }

  .carousel .carousel_item img{
      width: 100%; 
      max-width: 600px;
      height: auto;

  }

  .carousel .carousel_item--visible{
      display: block;
      animation: fadeVisibility 0.5s;
  }

  .carousel .carousel_actions{
      display: flex; 
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: 50%
  }

  .carousel .carousel_actions button{
      border-radius: 50px; 
      border: 0; 
      font-weight: bold;
      cursor: pointer;
      width: 40px;
      top: 50%;
      height: 40px;
  }

  .carousel .carousel_actions button#carousel_button--prev{
      margin-left: -50px;
  }

  .carousel .carousel_actions button#carousel_button--next{
      margin-right: -50px;
  }

 
    



 /* .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-item {
    border: 1px solid #fff;
    width: 100px;
    max-width:600px;
    height: auto;
    flex-direction: row;  /* Update this 
    align-items: center;
    display: none; 
  }

  

  .first-item {
    order: 1;
    display: block;
  }
  
  .last-item {
    order: -1;
  }*/

  .github, .project {
  align-self: flex-end;
  margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

  .footer-three {
    flex: 2;
  }

  .footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.demos {
    margin-left: auto;
  }

a:link{text-decoration: none;}
